# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build
/dist

# testing
/coverage

# misc
.DS_Store
*.pem
*.log

# env files (only the example is committed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
